<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    
  <appSettings>
    <!--redis配置-->
    <add key="Redis_IP" value="192.168.2.34"/>
    <add key="Redis_Port" value="6379"/>
    <add key="Redis_Pwd" value=""/>
    
    <!--ftp配置-->
    <add key="Ftp_Host" value="192.168.117.128"/>
    <add key="Ftp_User" value="ftptest"/>
    <add key="Ftp_Pwd" value="123456"/>
    <add key="Ftp_Port" value="21"/>
    
    <!--文件下载时本地的存储目录-->
    <add key="LocalDir" value="/Upfile/coll/"/>
    <!--文件上传时服务器的存储目录-->
    <add key="ServerDir" value="/Upfile/coll/"/>
    <!--文件上传后对外访问的地址-->
    <add key="ServerDomain" value="http://www.qiqu.com/"/>
  </appSettings>
</configuration>